<navbar pageinfo="pageinfo"></navbar>

<md-grid-list
        md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height-sm="2:1" md-row-height="4:3"
        md-gutter="8px" md-gutter-gt-sm="8px">

    <md-grid-tile class="dm-gray dm-grid-tile" md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-rowspan-sm="2">
        <md-grid-tile-body class="dm-content">
            <h2>Les tests en Javascript</h2>
            <p>Les tests dans une application Javascript sont importants. Venez découvrir comment en 50 minutes mettre
                en place votre stratégie de tests</p>
            <a href="http://breizhcamp.org"><img src="img/breizhcamp.png"/></a>
            <p><b>10 au 12 juin 2015 - Rennes</b></p>
        </md-grid-tile-body>
        <md-grid-tile-footer>
            <h3>Rennes</h3>
        </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="dm-yellow dm-grid-tile">
        <md-grid-tile-body class="dm-content">
            <a href="https://developer.mozilla.org/fr/docs/Web/JavaScript"><img src="img/javascript.png"/></a>
        </md-grid-tile-body>
        <md-grid-tile-footer>
            <h3>A language</h3>
        </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="dm-red dm-grid-tile">
        <md-grid-tile-body class="dm-content">
            <a href="https://angularjs.org/"><img src="img/angularjs.png"/></a>
        </md-grid-tile-body>
        <md-grid-tile-footer>
            <h3>A framework</h3>
        </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="dm-gray dm-grid-tile md-whiteframe-z2" md-rowspan="3" md-colspan="2" md-colspan-sm="1">
        <md-grid-tile-body class="dm-content">
            <p>Le principe est simple, on part d'une application vierge de tests et on les ajoute
            </p>
            <md-button class="md-fab" aria-label="Talks" ui-sref="talks" id="buttonTalk">
                <md-icon md-svg-src="img/icons/ic_talks.svg"></md-icon>
            </md-button>
            <p>Vous pouvez me suivre sur</p>
            <md-button class="md-fab md-primary" ng-repeat="link in links" aria-label="{{link.label}}" ng-click="goToLink(link.link)">
                <md-icon md-svg-src="img/icons/{{link.icon}}"></md-icon>
            </md-button>
        </md-grid-tile-body>
        <md-grid-tile-footer>
            <h3>Live coding</h3>
        </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="dm-purple dm-grid-tile">
        <md-grid-tile-body class="dm-content">
            <a href="http://jasmine.github.io/"><img src="img/jasmine.png"/></a>
        </md-grid-tile-body>
        <md-grid-tile-footer>
            <h3>Write tests</h3>
        </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="dm-green dm-grid-tile">
        <md-grid-tile-body class="dm-content">
            <a href="http://karma-runner.github.io/0.12/index.html"><img src="img/karma.png"/></a>
        </md-grid-tile-body>
        <md-grid-tile-footer>
            <h3>Execute unit tests</h3>
        </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="dm-white dm-grid-tile" md-colspan="2" md-colspan-sm="1">
        <md-grid-tile-body class="dm-content">
            <a href="#"><img src="img/logo-devmind-long-500.png"/></a>
        </md-grid-tile-body>
        <md-grid-tile-footer>
            <h3>Présenté par </h3>
        </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="dm-cyan dm-grid-tile">
        <md-grid-tile-body class="dm-content">
            <a href="http://www.seleniumhq.org/"><img src="img/selenium.png"/></a>
        </md-grid-tile-body>
        <md-grid-tile-footer>
            <h3>Web drivers</h3>
        </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="dm-red dm-grid-tile">
        <md-grid-tile-body class="dm-content">
            <a href="http://angular.github.io/protractor/#/"><img src="img/protractor.png"/></a>
        </md-grid-tile-body>
        <md-grid-tile-footer>
            <h3>Execute e2e tests</h3>
        </md-grid-tile-footer>
    </md-grid-tile>

</md-grid-list>